body {
    background-color: transparent;
}

#overlayimg {
    margin-top: -8px;
    margin-left: -8px;
    width: 1920px;
    height: 1080px;
}

div#info {
    position: absolute;
    top: 600px;
    left: 0px;
    right:80px;
}

p#info {
    text-align: center;
    text-shadow: -6px 10px 4px black;
}

div#player1 {
    position: absolute;
    top: 900px;
    left: 10px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#player2 {
    position: absolute;
    top: 900px;
    right: 90px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

p {
    margin-top: 0;
    font-family: 'Roboto Slab';
    color: white;
    font-size: 150px;
}

p.main {
    font-size: 150px;
}

p.players {
    font-size: 60px;
}

p.player1 {
    text-align: left;
    text-shadow: -6px 8px 4px black;
}

p.player2 {
    text-align: right;
    text-shadow: 6px 8px 4px black;
}