body {
    background-color: transparent;
}

#overlayimg {
    margin-top: -8px;
    margin-left: -8px;
    width: 1920px;
    height: 1080px;
}

div#red {
    position: absolute;
    top: 900px;
    left: 10px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#redScore {
    position: absolute;
    top: 660px;
    left: 10px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#redStocks {
    position: absolute;
    top: 740px;
    left: 10px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#redPlayerCount {
    position: absolute;
    top: 878px;
    left: 10px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#blue {
    position: absolute;
    top: 900px;
    right: 90px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#blueScore {
    position: absolute;
    top: 660px;
    right: 90px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#blueStocks {
    position: absolute;
    top: 740px;
    right: 90px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#bluePlayerCount {
    position: absolute;
    top: 878px;
    right: 90px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

p {
    margin-top: 0;
    font-family: 'Roboto Slab';
}

p.team {
    color: white;
    font-size: 150px;
}

p.score {
    color: white;
    font-size: 80px;

}

p.stocks {
    color: white;
    font-size: 150px;
}

p.players {
    color: white;
    font-size: 60px;
}

p.red {
    text-align: left;
    text-shadow: -6px 8px 4px black;
}

p.redSmall {
    text-align: left;
    text-shadow: -4px 6px 4px black;
}

p.blue {
    text-align: right;
    text-shadow: 6px 8px 4px black;
}

p.blueSmall {
    text-align: right;
    text-shadow: 6px 8px 4px black;
}