body {
    background-color: transparent;
}

#overlayimg {
    margin-top: -8px;
    margin-left: -8px;
    width: 1920px;
    height: 1080px;
}

div#player1 {
    position: absolute;
    top: 800px;
    right: 1800px;
    transform: rotate(62deg);
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#player2 {
    position: absolute;
    top: 800px;
    left: 1710px;
    transform: rotate(-62deg);
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

p {
    margin-top: 0;
    font-family: 'Soup of Justice';
}

p.main {
    color: white;
    font-size: 96px;
}

p.red {
    text-align: left;
    text-shadow: -6px 8px 4px black;
}

p.blue {
    text-align: right;
    text-shadow: 6px 8px 4px black;
}