body {
    background-color: transparent;
}

#overlayimg {
    margin-top: -8px;
    margin-left: -8px;
    width: 1920px;
    height: 1080px;
}

div#blue {
    position: absolute;
    top: 0px;
    left: 306px;
    right: 1516px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#blueScore {
    position: absolute;
    top: 58px;
    left: 466px;
    right: 1515px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#red {
    position: absolute;
    top: 0px;
    left: 1438px;
    right: 386px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#redScore {
    position: absolute;
    top: 58px;
    left: 1420px;
    right: 526px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#patch {
    position: absolute;
    top: 892px;
    left: 0px;
    right: 1498px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#game {
    position: absolute;
    top: 980px;
    left: 0px;
    right: 1498px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

p.info {
    font-size: 72px;
}

p.team {
    font-size: 60px;
}

p.score {
    font-size: 24px;
}

p {
    color: white;
    text-align: center;
    font-family: 'Roboto Slab';
    margin-top: 0px;
}