body {
    background-color: transparent;
}

#overlayimg {
    margin-top: -8px;
    margin-left: -8px;
    width: 1920px;
    height: 1080px;
}

div#blue {
    position: absolute;
    top: 0px;
    left: 340px;
    right: 1535px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#blueScore {
    position: absolute;
    top: 46px;
    left: 448px;
    right: 1515px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#red {
    position: absolute;
    top: 0px;
    left: 1468px;
    right: 405px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#redScore {
    position: absolute;
    top: 46px;
    left: 1446px;
    right: 516px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#patch {
    position: absolute;
    top: 964px;
    left: 0px;
    right: 1688px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#game {
    position: absolute;
    top: 1016px;
    left: 0px;
    right: 1688px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

p {
    color: white;
    text-align: center;
    font-family: 'Roboto Slab';
    margin-top: 0px;
}

p.score {
    font-size: 24px;
}

p.info {
    font-size: 48px;
    
}

p.team {
    font-size: 48px;
}