body {
    background-color: transparent;
}

#overlayimg {
    margin-top: -8px;
    margin-left: -8px;
    width: 1920px;
    height: 1080px;
}

div#blue {
    position: absolute;
    top: 0px;
    left: 320px;
    right: 1430px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#blueScore {
    position: absolute;
    top: 84px;
    left: 320px;
    right: 1630px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#red {
    position: absolute;
    top: 0px;
    left: 1346px;
    right: 406px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#redScore {
    position: absolute;
    top: 84px;
    left: 1546px;
    right: 404px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#patch {
    position: absolute;
    top: 892px;
    left: 0px;
    right: 1498px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

div#game {
    position: absolute;
    top: 980px;
    left: 0px;
    right: 1498px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
}

p.info {
    font-size: 72px;
}

p.team {
    font-size: 60px;
}

p.score {
    font-size: 36px;
}

p {
    color: white;
    text-align: center;
    font-family: 'Roboto Slab';
    margin-top: 0px;
}