<!DOCTYPE html>
<html>
    <head>
        <title>LOL OverPy</title>
        <link rel="stylesheet" href="static/draft.css">
    </head>
    <body>
        <img src="static/LoLDraftOverlayV2.png" id="overlayimg"/>
        <div id="blueTeam"><p id="btAbr" class="team">{{ btAbr }}</p></div>
        <div id="redTeam"><p id="rtAbr" class="team">{{ rtAbr }}</p></div>
        <div id="BTScore"><p id="btScr" class="score">{{ btScr }}</p></div>
        <div id="RTScore"><p id="rtScr" class="score">{{ rtScr }}</p></div>
        <div id="patch"><p id="patchno" class="info">Patch {{ patchno }}</p></div>
        <div id="game"><p id="gameno" class="info">Game {{ gameno }}</p></div>
    </body>
</html>