<!DOCTYPE html>
<html>
    <head>
        <title>LOL OverPy</title>
        <link rel="stylesheet" href="static/lol_submit.css">
    </head>
    <body>
        <form action="/lolsubmit" method="POST">
            <label for="blue">Blue Team</label><br>
            <input type="text" id="blue" name="blue" value="{{ blue }}"><br>
            <label for="blueScore">Blue Score</label><br>
            <input type="number" id="blueScore" name="blueScore" value="{{ blueScore }}"><br>
            <label for="red">Red Team</label><br>
            <input type="text" id="red" name="red" value="{{ red }}"><br>
            <label for="redScore">Red Score</label><br>
            <input type="number" id="redScore" name="redScore" value="{{ redScore }}"><br>
            <label for="patch">Patch Number</label><br>
            <input type="text" id="patch" name="patch" value="{{ patch }}"><br>
            <label for="game">Game Number</label><br>
            <input type="number" id="game" name="game" value="{{ game }}"><br>
            <br>
            <label for="swap">Swap?</label>
            <input type="checkbox" id="swap" name="swap" value="false">
            <br>
            <input type="submit" value="Submit">
        </form>
        <p>{{ time }}</p>
    </body>
</html>